*{
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    background-color: rgb(113, 46, 81);
}

.logotipo {
    display: inline-block;
    max-height: 56px;
    max-width: 225px;
    padding: 8px 4px 8px 12px;
    vertical-align: middle;
}

img.roupas {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

header{
    background-image: url(/imagem/flores.jpg);
}